/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image:  url("../images/cover-image-dark.png");
  --title-color:#DB00FF;
  --accent-color: var(--color-primary-black);
  --button-color: var(--color-primary-black);
  --header-text-bg-color: var(--color-primary-black--real-red);
  --header-text-color: var(--color-text-black);
  --border-color-opacity: #FF007066;
  --button-color: var(--color-primary-black);
  --rec-color: var(--color-primary-black);
  --deco-color: var(--color-primary-black);
  --question-bg-color: var(--color-text-black);
  --question-color: var(--color-primary-black);
  --answer-title-bg-color: var(--color-primary-black);
  --answer-title-color: var(--color-text-black);
  --answer-text-bg-color: var(--color-text-black);
  --answer-text-color: #f1b2ce;
  --advice-title-bg-color: var(--color-primary-black);
  --advice-title-color: var(--color-text-black);
  --page-bg-color: var(--color-text-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: var(--color-text-black);
    --accent-color: var(--color-primary-black);
    --title-color:  #db00ff;
    --header-text-bg-color: var(--color-primary-black);
    --header-text-color: var(--color-text-black);
    --question-bg-color: var(--color-text-black);
    --question-color: var(--color-primary-black);
    --answer-title-bg-color: var(--color-primary-black);
    --answer-title-color: var(--color-text-black);
    --answer-text-bg-color: var(--color-text-black);
    --answer-text-color: #f1b2ce;
    --advice-title-bg-color: var(--color-primary-black--real-red);
    --advice-title-color: var(--color-text-black);
    --button-color: var(--color-primary-black;)
    --rec-color: var(--color-primary-black);
    --border-color-opacity: #FF007066;
    --border-color-opacity: #FF007066;
    --background-image:  url("../images/cover-image-dark.png");
    --deco-color: var(--color-primary-black);
  }

rec_empty::before {
  display: inline-block;
}

.rec_empty::after {
  display: inline-block;
}
}

.theme-dark .rec_empty::before {
display: inline-block;
}

.theme-dark .rec_empty::after {
display: inline-block;
}