/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--basic-light-color: #FF8DCB;
--color-title: #FFC2E6;
--light-bg: #FFF1F7;
--color-primary-black: #ff0070;
--color-text-black: #000028;
--color-text-light: #353430;
--regular-font-size: 18px;
--regular-line-height: 100%;
--regular-gap: 10px;
--decoration-gap: clamp(10px , 2.65vw , 20px);
--min-height: 668px;
--header-margin-left: min(10px , 20px - 2.6vw);
--section-child-margin: 40px;
--project-font-family: "IBM Plex Mono", "Arial", sans-serif;
--corner-thickness: 1px;
--rec_empty_x_pos: 30px;
}